AWT Lab 21-25/DatabaseWebService/App_WebReferences/ServiceReference1/CourseWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getCourse">
        <s:complexType />
      </s:element>
      <s:element name="getCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCourseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getCourseSoapIn">
    <wsdl:part name="parameters" element="tns:getCourse" />
  </wsdl:message>
  <wsdl:message name="getCourseSoapOut">
    <wsdl:part name="parameters" element="tns:getCourseResponse" />
  </wsdl:message>
  <wsdl:portType name="CourseWebServiceSoap">
    <wsdl:operation name="getCourse">
      <wsdl:input message="tns:getCourseSoapIn" />
      <wsdl:output message="tns:getCourseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CourseWebServiceSoap" type="tns:CourseWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCourse">
      <soap:operation soapAction="http://tempuri.org/getCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CourseWebServiceSoap12" type="tns:CourseWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCourse">
      <soap12:operation soapAction="http://tempuri.org/getCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourseWebService">
    <wsdl:port name="CourseWebServiceSoap" binding="tns:CourseWebServiceSoap">
      <soap:address location="http://localhost:50863/CourseWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CourseWebServiceSoap12" binding="tns:CourseWebServiceSoap12">
      <soap12:address location="http://localhost:50863/CourseWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>